# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
Automatic VU Server Restarter/bin/Debug/settings.ini
Automatic VU Server Restarter/bin/Debug/avusr.exe
Automatic VU Server Restarter/obj/Debug/avusr.exe
